.row
  #two.columns
    = link_to('New Genre', new_genre_path, :class => 'button radius tiny') if is_admin
  #two.columns
    %table
      %th name
      - if is_admin
        %th edit
      - @genres.each do |genre|
        %tr{:class => cycle('row0', 'row1')}
          %td= genre.name
          - if is_admin
            %td= link_to('Edit', genre )
  #eight.columns