%h1 The Hottest Artists

.row
  .two.columns
    = link_to('New Artist', new_artist_path, :class => 'button radius tiny') if is_admin
  .seven.columns
    %table
      %th name
      - if is_admin
        %th edit
      - @artists.each do |artist|
        %tr{:class => cycle('row0', 'row1')}
          %td= link_to(artist.name,artist)
          %td= image_tag(artist.image)
          - if is_admin
            %td= link_to('Edit', edit_artist_path(artist) )
  .three.columns