%h1= @mixtape.name

.two.columns
.eight.columns
  %table
    %th name
    %th the playah
    - @songs.each do |song|
      %tr{:class => cycle('row0', 'row1')}
        %td= link_to(song.name,song)
        %td= audio_tag(song.filename, :controls => true )
        %td= link_to('Edit', edit_song_path(song) )
.two.columns
