%h1 Yo, one second there holmes!

%h3 You need to create an account or log in to see that page.

= link_to("Create account", new_user_path, :class => 'button radius')
= link_to("Log in", login_path, :class => 'button radius alert')
