.row
  .twelve.columns
    %table
      %th Song name
      %th The playah
      %th Album name
      %tr
        %td= @song.name
        %td= audio_tag(@song.filename, :controls => true )
        %td= @album.name