.row
  #two.columns
    = link_to('New Album', new_album_path, :class => 'button radius tiny') if is_admin
  #two.columns
    %table
      %th name
      %th image
      - if is_admin
        %th edit
      - @albums.each do |album|
        %tr{:class => cycle('row0', 'row1')}
          %td= album.name
          %td= image_tag(album.image)
          - if is_admin
            %td= link_to('Edit', album )
  #eight.columns