$text-color: black;

body {
 background-image:url('purty_wood.png');
}

.custom-top {
  margin: 0 0 60px 0 ;
}

h1 {
  color: $text-color;
}

label {
  color: black;
  font-size: 20px;
}

.lloyd_background {
  background: url('say_anything.jpg') top left no-repeat;
  height: 1000px;
  h3 {
    color: white;
  }
  table {
    margin: 20px auto 0 auto;
  }


}