body {
 background-position: center;
 background-attachment: fixed;
 background-image:url('bw_background1.png');
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

h1 {
  color: #ff7f00;
}

label {
  color: black;
  background: white;
  font-size: 20px;
}